.mainWhatsNew {
  border-radius: 25%;
  background: linear-gradient(#003473, #08bdab);
}

/*.containerMoreItems {
}*/

.titleWhatsNew {
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleWhats {
  font: Red Hat Display, Regular;
  font-size: 60px;
  color: #ff7e54;
}

.titleNew {
  margin-left: 20px;
  font: Red Hat Display, Regular;
  font-size: 60px;
  color: #ffffff;
}

.textFindAbout {
  display: block;
  font-size: 16px;
  color: #f5f5f5;
  text-align: center;
}

.textLink {
  display: block;
  font-size: 16px;
  color: #f5f5f5;
  text-align: right;
  margin-right: 90px;
}

img {
  border-radius: 25px;
}

.whatsNew > button > p.dateWhatsNew {
  position: absolute;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 900;
}

.whatsNew > button {
  width: 300px;
  height: 400px;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  zoom: 1;
}

.blog {
  display: inline-block;
  top: 50%;
  left: 40%;
  right: 50%;
  color: #ffffff;
}
